<header>
    <div class="container">
        <a routerLink="/" class="logo">Co-Bar</a>
        <nav>

            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li class="menu-container">
                <a routerLink="/profile">Omar</a>
                <div class="menu">
                    <a routerLink="/dashboard">Dashboard</a>
                    <a routerLink="/orders">Orders</a>
                    <a>Logout</a>
                </div>
            </li>
            <li>
                <a routerLink="/cart">
                    Cart <span>3</span>
                </a>
            </li>

        </nav>
    </div>
</header>